body{
    overflow: hidden;
}
#main-container{
    /* background-color: black; */
    position:fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: aqua;
}
/* polygon:hover{
    fill: rgb(22, 145, 194);
    transition: 0.5s;
} */
polygon{
    
    stroke: black;
    stroke-width: 1px;
}
svg{
    /* background-color: blue; */
    position: fixed;
}
.land{
    fill: lightgreen;
    
}
.land:nth-of-type(odd){
    filter:brightness(90%);
}
.water{
    fill: aqua;
}
.hex:hover{
    /* fill:white; */
    filter: brightness(85%);
    transition: 0.75s;
}
.player{
    fill:blue
}

.destination{
    fill:black;
}
#player_test{
    width:50px;
    height: 50px;
    background-color: blueviolet;
    position :fixed;
}
#player_test:hover{
    background-color: purple;
    transition: 0.5s;
}
.desert{
    fill: sandybrown;
}
.jungle{
    fill: forestgreen;
}
.tundra{
    fill:dodgerblue;
}
.walid{
    fill:black;
}
