.main {
    display:flex;
    --ss:20px; /*sq size*/
    --s: 21.49139863647084px;  /* size  */
    --m: 1px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
    
  }
  
  .container {
    font-size: 0; /*disable white space between inline block element */
    height:750px;
    width:750px;
  }
  
  .hex {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background-color: darkgrey;
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
  }
   .hex:nth-child(odd) {
     background-color:lightslategray; 
  } 
#container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                     #0000 0 calc(var(--f) - 3px),      
                     #000  0 var(--f));
  } 
.hex:hover{
    background-color: blue;
}
.square{
  /* width: calc(var(--s)*1.1547);
  height:calc(var(--s)*1.1547); */
  width: var(--ss);
  height: var(--ss);
  display: inline-block;
  font-size: initial;
  background-color: darkgray;
  margin:var(--m)
}
.square:nth-child(odd){
  background-color: lightslategray;
}
.square:hover{
  background-color: blue;
}

